@font-face {
  font-family: 'brawls';
  src: url('../font/brawls.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rift';
  src: url('../font/rift.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_thin';
  src: url('../font/gotham_thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_med';
  src: url('../font/gotham_med.otf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'brawls', sans-serif;
}


/*--------------------------------------------------------
--------------------------------------------------------
-------------------------------------------------------- SECTION 1*/
.section1
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

.section1 video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #111 0%, #ffffff00);
}

.type {
  font-family: gotham_med;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s;
}

.date {
  font-family: rift;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin-bottom: 5px;
  transition: 0.5s;
}

.size1 {
  width: 100%;
}

.size2 {
  width: 100px;
  height: 100px;
}

.bor1{
  border-radius: 15%;
  margin: 10px;
  transition: 0.5s;
}

.bor1:hover{
  border: 0px;
  background-color: #ffffff;
  box-shadow: 4px 4px 15px #00000018;
  transform: translateY(-10px);
  transition: 0.5s;
}

.bor1:hover > .type,
.bor1:hover > .date {
  color: rgb(90, 90, 90);
  transition: 0.5s;
}

.overlay1 {
  position: relative;
  top: 250px;
  z-index: 1;
}


/*--------------------------------------------------------
--------------------------------------------------------
-------------------------------------------------------- SECTION 3*/
.section2 {
  position: relative;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 50px 0px;
  transition: 0.5s;
  z-index: 2;
}

.line {
  display: block;
  border: 3px solid white;
  border-radius: 10px;
  width: 80px;
  margin: auto;
  opacity: 1;
  transition: 0.3s;
}

.big-title {
  padding: 10px;
  width: 300px;
  margin: auto;
  transition: 0.3s;
}

.big-title:hover{
  background: #ffffff;
  box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 10px #ffffff;
  transition: 0.3s;
}

.big-title:hover > h1{
  color: #111;
  transition: 0.3s;
}

.big-title:hover + .line{
  opacity: 0;
  transition: 0.3s;
}

.big-title h1{
  color: #fff;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .member-title {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.438);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  line-height: 55px;
  text-align: center;
  vertical-align: bottom;
  transition: 0.5s;
}

.container .card:hover > .member-title {
  transform: translateY(-80px);
  transition: 0.5s;
}

.container .card .more-info {
  position: absolute;
  width: 50%;
  top: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.438);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  color: #111;
  line-height: 55px;
  text-align: center;
  vertical-align: bottom;
  opacity: 0;
  transition: 0.5s;
}

.container .card .more-info:hover {
  background-color: rgba(92, 92, 92, 0.438);
}

.container .card:hover > .more-info {
  transform: translateY(60px);
  opacity: 1;
  transition: 0.5s;
}

.container .card .content {
  position: absolute;
  bottom: -140px;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(10px);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  transition: 0.5s;
}

.container .card:hover .content {
  bottom: 0;
}

.container .card .content .contentBx h3 {
  color: #fff;
  font-family: gotham_thin;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.3s;
}

.container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
}

.container .card .content .contentBx h3 span {
  font-family: gotham_thin;
  text-align: center;
  font-size: 80%;
  font-weight: 300;
  text-transform: initial;
  transition: 0.5s;
}

.container .card .content .sci {
  position: relative;
  top: 12px;
  display: flex;
}

.container .card .content .sci li{
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .content .sci li{
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content .sci li a{
  color: #fff;
  font-size: 24px;
  transition: 0.3s;
}

.container .card .content .sci li a:hover {
  padding: 0 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.container .card .imgBx img {
  width: 410px;
}

.container .card .imgBx1 img {
  position: relative;
  left: -250px;
  width: 610px;
}

.container .card img {
  filter: brightness(80%);
  transition: 0.3s;
}


.swiper-slide2 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border: 1px solid red;
}

.popup-style {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.384);
  width: 450px;
  padding: 50px 50px 50px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.7);
  transition: 0.5s;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  visibility: hidden;
}

.popup-style .member-avatar {
  display: flex;
  justify-content: center;
}

.popup-style .member-avatar img{
  width: 150px;
  border-radius: 50%;
  border: 8px solid #00000018;
  margin-bottom: 20px;
}

.popup-style .member-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.popup-style .member-info p{
  font-family: Calibri;
  font-size: 20px;
  font-weight: 10px;
  text-align: justify;
  padding-top: 20px;
}

.popup-style .sci {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}

.popup-style .sci li{
  list-style: none;
  margin: 0 15px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.popup-style .sci li{
  transform: translateY(0px);
  opacity: 1;
}

.popup-style .sci li a{
  color: #111;
  font-size: 24px;
  transition: 0.3s;
}

.popup-style li a:hover {
  padding: 0 20px;
  color: #fff;
  transition: 0.3s;
}

.popup-style .member-info h3 {
  color: #111;
  font-family: brawls;
  font-size: 200%;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.3s;
}

.popup-style .member-info h3 {
  opacity: 1;
  transform: translateY(0px);
}

.popup-style .member-info h3 span {
  font-family: rift;
  text-align: center;
  font-size: 80%;
  font-weight: 300;
  text-transform: initial;
  transition: 0.5s;
}

.popup-style .close-btn {
  position: absolute;
  text-align: center;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}

.popup-style .close-btn i {
  position: relative;
  color: #111;
  top: 12px;
  cursor: pointer;
}

#popup1.active {
  visibility: visible;
  top: 50%;
}

#popup2.active {
  visibility: visible;
  top: 50%;
}

#popup3.active {
  visibility: visible;
  top: 50%;
}

#popup4.active {
  visibility: visible;
  top: 50%;
}

#popup5.active {
  visibility: visible;
  top: 50%;
}

#popup6.active {
  visibility: visible;
  top: 50%;
}

#popup7.active {
  visibility: visible;
  top: 50%;
}

/*--------------------------------------------------------
--------------------------------------------------------
-------------------------------------------------------- SECTION 3*/
.section3 {
  position: relative;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #111;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: 0.5s;
  z-index: 2;
}

.section3 h2 {
  font-family: rift;
  color: #fff;
  font-size: 60px;
  letter-spacing: 30px;
  padding: 15px 40px;
}

.section3 p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
  color: #fff;
  font-size: 20px;
  padding: 0px 80px;
  text-align: justify;
  text-align-last: center;
}

.section3 h3 {
  font-family: brawls;
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
}

.qrcode {
  padding-top: 100px;
  width: 200px;
  transition: 0.5s;
}

.qr-btn:hover > .qrcode {
  width: 15%;
}

@media only screen and (max-width: 1680px){

}

@media only screen and (max-width: 1366px){

}

@media only screen and (max-width: 1360px){

}

@media only screen and (max-width: 1280px){
  .section3 h2 {
    font-size: 40px;
    letter-spacing: 20px;
  }
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 800px){
  .section3 h2 {
    font-size: 30px;
    letter-spacing: 20px;
  }
  .section3 p {
    font-size: 15px;
  }
}

@media only screen and (max-width:450px){
  .popup-style {
    width: 350px;
    padding: 50px 20px 50px;
  }

  .overlay1 {
    top: 230px;
  }

  .section3 h2 {
    font-size: 30px;
    letter-spacing: 10px;
  }
}

@media only screen and (max-width:350px){
  .popup-style {
    width: 300px;
    padding: 30px 20px 30px;
  }

  .section3 h2 {
    font-size: 30px;
    letter-spacing: 5px;
  }
}